<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deny.ibitur.android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="IbiTUR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PesquisaActivity"
            android:exported="false" />
        <activity
            android:name=".ConteudoActivity"
            android:exported="false"
            android:label="@string/title_activity_conteudo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>